<h1>Welcome back to me!</h1>
<p>Nội dung của Main: {{ title}}</p>
<p>Giá trị trả về của S1: {{ s1Text}}</p>
<app-step1component [text]="title" (s1Clicked)="onMainS1Clicked($event)"></app-step1component>
<app-step2component></app-step2component>
