/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/eva-icons/style/eva-icons.css";

html,body{
  height: 100%;
  background: #f5f5f5;
  box-sizing: border-box;
}

body,*{
  padding: 0;
  margin: 0;
}
*:not(i){
  font-family: 'Roboto',sans-serif;
}
